.dv{
	text-align: center;
	margin-top: 4vw;
}
.lah{
	font-size:2.3vw;
	font-family: lucida calligraphy;
}
.la{
	font-size:1.7vw;
}
.las{
	font-size:1.5vw;
}
span{
	color:red;
}
.tab{
	margin-left: auto;
	margin-right: auto;
	margin-top: 2vw;
	background-color: cyan;	
	border:2px solid silver;
}
.tdp{
	padding:2vw 1vw;
}
.btr{
	cursor: pointer;
	color:white;
	background-color:A244FF;
	padding:.2vw 1.2vw;
	border-radius: .4vw;
	font-size:1.4vw;
	border:none;
}
.dvv{
	text-align: center;
	margin-top:1vw;
}
.tb{
	font-size:1.4vw;
	width:100%;
	border-radius: .4vw;
}
.ta{
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	width:50%;
}