<html xmlns:th="http://www.thymeleaf.org">
 <head>
   <script th:src="@{/JS/script.js}"></script>
   <link th:href='@{/CSS/style.css}' rel='stylesheet'>
   <link th:href='@{/CSS/bootstrap.min.css}' rel='stylesheet'>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
 </head>
 <body>
 <hr style='border:2px solid green'>
  <nav class='navbar navbar-expand navbar-light bg-light'>
   <ul class='nav nav-pills mx-auto'>
    <li><a id='home' class='nav-link la' href='/library-management'><i class='fa fa-home'></i>Home</a></li>
    <li><a id='save' class='nav-link la' href='/library-management/add'><i class='fa fa-user-plus'></i>Add Book</a></li>
    <li><a id='list' class='nav-link la' href='/library-management/list'><i class='fa fa-list'></i>Books List</a></li>
    <li><a id='delete' class='nav-link la' href='/library-management/delete'><i class='fa fa-trash'></i>Delete Book</a></li>
    <li><a id='edit' class='nav-link la' href='/library-management/edit'><i class='fa fa-user-edit'></i>Edit Book</a></li>
    <li><a id='search' class='nav-link la' href='/library-management/search'><i class='fa fa-search'></i>Search Book</a></li>
   </ul>
  </nav>
 <hr style='border:2px solid green'>
 </body>
</html>